/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* DEBUG */
.debug .benefits-col,
.debug .about-us-col
{
    border: 1px solid blue;
    border-radius: 20px;
}

/***********************
    MOBILE FIRST
***********************/

/* COMMON */
body
{
    font-family: 'PT Sans', sans-serif;
}

.container
{
    max-width: 1170px;
    margin: 0 auto;
}

img
{
    width: 100%;
    display: block;
}

.mobile-padding
{
    padding-left: 2rem;
    padding-right: 2rem;
}

.flex-container
{
    display: flex;
    flex-wrap: wrap;
}

a
{
    text-decoration: none;
    color: inherit;
}

.btn
{
    padding: 0.5rem 2rem;
    border-radius: 20px;
}

.btn.blue
{
    background-color: #0084fd;
    color: white;
}

/* HEADER */
header
{
    height: 80px;
    background-color: #0084fd;
    color: white;
}

nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.main-menu
{
    display: none;
}

.burger-button
{
    font-size: 1.2rem;
}

.main-menu ul
{
    display: flex;
    list-style-type: none;
}

.main-menu li
{
    padding: 0.5rem 0.5rem;
}

.main-menu a
{
    padding: 0.5rem 0.5rem;
}

.main-menu li:last-child
{
    background-color: white;
    color: black;
    border-radius: 20px;
}

/*  MAIN */
section
{
    padding-top: 3rem;
    padding-bottom: 3rem;
}

section:nth-of-type(even)
{
    background-color: #9792e4;
}

.col
{
    padding: 2rem 1rem;
    margin: 1rem 0;
}

/* intro columns */
.intro-col
{
    background-color: #b5ddff;
    border-radius: 20px;
}

.intro-columns .intro-col:first-child
{
    padding-bottom: 0;
}

.intro-col h3
{
    color: #2194fd;
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
    text-align: center;
}

.intro-col .cards.large h3
{
    text-align: left;
    padding-bottom: 0;
}

.intro-col .cards
{
    justify-content: center;
    text-align: center;
}

.intro-col .card-text>p
{
    padding: 2rem 0;
    text-align: left;
}

.intro-col img
{
    width: 200px;
    padding-top: 2rem;
}

.icon
{
    color: #0084fd;
    font-size: 5rem;
}

/* planning columns */
.planning-col
{
    justify-content: center;
    border-radius: 50px;
}

#white.planning-col 
{
    background-color: white;
}

#first-image.card-image img
{
    padding-bottom: 5rem;
}

.planning-col .card-image
{
    justify-content: center;
}

#second-image.card-image img
{
    width: 250px;
    padding-bottom: 1rem;
}

#first-text.card-text
{
    color: white;
}

#first-text.card-text>h3
{
    font-size: 2.5rem;
    padding-bottom: 2.5rem;
}

#second-text.card-text
{
    text-align: center;
}

#second-text.card-text>h3
{
    font-size: 1.5rem;
}

#second-text.card-text>p
{
    font-style: italic;
    padding: 2rem 0;
}

.arrow
{
    background-color: #9792e4;
    display: inline-block;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    line-height: 2rem;
    text-align: center;
}

/* testimonials columns */
.testimonials-columns
{
    justify-content: center;
}

.introduction-testimonials
{
    text-align: center;
}

.introduction-testimonials>p
{
    padding-bottom: 2rem;
}

.introduction-testimonials>h2
{
    color: #9994e4;
    padding: 2rem 0;
}

.testimonials-col
{
    background-color: #9792e4;
    border-radius: 50px;
}

.testimonials-col .testimonials-cards
{
    justify-content: center;
}

.testimonials-col .card-text
{
    text-align: center;
    color: white;
}

.square-img-box
{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.square-img-box img
{
    height: 100%;
    object-fit: cover;
}

.quote
{
    padding: 1.5rem 0 2rem 0;
}

.author
{
    font-weight: bold;
}

/* benefits columns */
.benefits-col
{
    background-color: white;
}

/* FOOTER */
footer
{
    color: white;
    background-color: #333333;
}

/***********************
    TABLET
***********************/
@media screen and (min-width:768px) {
    /* MAIN */
    .burger-button
    {
        font-size: 1.5rem;
    }

    /* intro columns */
    .intro-columns
    {
        justify-content: space-between;
    }

    .intro-col
    {
        width: calc( ( 100% / 3 ) - 1rem);
    }

    .intro-col:first-child
    {
        width: calc( ( ( 100% / 3 ) * 2 ) - 0.5rem );
    }

    .intro-col:nth-child(4)
    {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }

    .intro-col .cards
    {
        justify-content: flex-start;
    }

    .card-text
    {
        text-align: left;
    }

    .intro-col .card-text>p
    {
        padding: 2rem 0;
    }

    /* planning columns */
    #first.card-image img
    {
        width: auto;
    }

    /* testimonials columns */
    .testimonials-cards
    {
        justify-content: space-between;
    }

    .testimonials-cards .card-image
    {
        width: 35%;
    }

    .testimonials-cards .card-text
    {
        width: 65%;
    }

    .testimonials-col .card-text
    {
        text-align: left;
        padding-left: 1.5rem;
    }

    /* benefits columns */
    .benefits-columns
    {
        justify-content: space-between;
    }

    .benefits-col
    {
        width: calc( 50% - 1rem );
    }

   
    .about-us-columns
    {
        justify-content: space-between;
    }

    .about-us-col
    {
        width: calc( 50% - 1rem);
    }

    .small .container
    {
        max-width: 740px;
    }


}

/***********************
    DESKTOP
***********************/
@media screen and (min-width:992px) {
    /* COMMON */
    .small .container
    {
        max-width: 900px;
    }

    /* HEADER */
    .main-menu
    {
        display: block;
    }

    .burger-button
    {
        display: none;
    }

    /* MAIN */

    /* intro columns */
    .intro-col .cards.large
    {
        justify-content: space-between;
        height: 100%;
    }

    .intro-col .cards.large>*
    {
        width: calc( 50% - 1rem );
    }

    .intro-col .card-image
    {
        padding: 0 5rem;
        align-self: flex-end;
    }

    .intro-col .card-text>p
    {
        padding: 1.5rem 0;
    }

    /* planning columns */
    #planning .container
    {
        max-width: 900px;
    }

    .planning-columns
    {
        justify-content: space-between;
        align-items: flex-end;
    }

    .planning-col
    {
        width: calc( 50% - 1rem );
    }

    #first.card-image img
    {
        width: 380px;
        padding-bottom: 8rem;
    }

    /* benefits columns */
    .benefits-col
    {
        width: calc( ( 100% / 3 ) - 1rem);
    }

    /* about-us columns */
    .about-us-columns
    {
        justify-content: space-between;
    }

    .about-us-col:first-child
    {
        width: calc( 65% - 0.75rem)
    }

    .about-us-col:last-child
    {
        width: calc( 35% - 0.75rem)
    }

    

}
